.indexlogo {
  max-width: 848px !important;
  max-height: 274px !important;
}

.beaverorange {
  color: #d73f09;
}

.text-bg-white {
  color: #000 !important;
  background-color: #fff !important;
}

.text-bg-special {
  color: #fff !important;
  background-color: #d73f09 !important;
}

.text-bg-light-2.btn-dark {
	background-color: #d73f09 !important;
}

.pagination > li > a {
  background-color: white;
  color: black;
}

.pagination > .active > a {
  color: white;
  background-color: #d73f09 !Important;
  border: solid 1px #d73f09 !Important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a:hover {
  background-color: #d73f09 !Important;
  border: solid 1px #d73f09;
}

.carousel .text-white {
  color: white;
  text-shadow: 0 0 8px black;
}

.carousel .text-black {
  color: black;
  text-shadow: 0 0 8px white;
}

.carousel-control-prev,
.carousel-control-next {
  text-shadow: 0 0 8px black;
  font-size: 3em;
  width: 10%;
}

.carousel-text-container {
  width: 80%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul.bulleted {
  list-style-type: disc;
  padding-left: 2em;
}

.newscard {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .newscard {
    width: 50%;
  }
}

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.card .btn-link {
  background: #d73f09;
  color: #f1f1f1;
  text-decoration: none;
  width: 100%;
  padding: 5;
}

.card .btn-link:hover,
.card .btn-link:focus {
  background: #f1f1f1;
  color: #d73f09;
}

.card .btn-orange {
  background: #d73f09;
  color: #f1f1f1;
}

.card .btn-orange:hover {
  background: #a83207;
  color: #f1f1f1;
}

.pub-card {
  border: solid 1px #d740094f !Important;
}

.embed-responsive {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
}

.project-link {
  display: block;
  padding: 5px;
  text-decoration: none;
}

.project-link:hover {
  background-color: rgba(215 63 9 / 10%) !important;
}

.project-link img {
  max-height: 175px;
  text-align: center;
  margin: 0 auto;
}

.form-control:focus {
  border-color: #d73f09;
  box-shadow: 0 0 0 0.125rem #d7400950;
}

.form-select:focus {
  border-color: #d73f09;
  box-shadow: 0 0 0 0.125rem #d7400950;
}

.year-btn {
  font-weight: 500;
  color: #f23801;
  border: 1px solid transparent;
}

.year-btn:hover,
.year-btn.active,
.year-btn:focus {
  border-color: #d73f09 !important;
  font-weight: 500;
  color: #f23801 !important;
  transition: 500ms;
}