
/* This fixes the footer to the bottom of the page when the content is less than the height of the browser window */
#__next {
  display:grid; 
  grid-template-rows: auto 1fr auto; 
  min-height:100vh;
}

.indexlogo {
  max-width: 848px !important;
  max-height: 274px !important;
}

.beaverorange {
  color: #d73f09;
}
